[submodule "home/.alfred"]
	path = home/.alfred
	url = git@github.com:jrolfs/alfred-settings.git
[submodule "home/.zprezto"]
	path = home/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "home/.rbenv/plugins/ruby-build"]
	path = home/.rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "home/.rbenv/plugins/rbenv-gem-rehash"]
	path = home/.rbenv/plugins/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash.git
[submodule "home/.rbenv/plugins/rbenv-each"]
	path = home/.rbenv/plugins/rbenv-each
	url = https://github.com/chriseppstein/rbenv-each.git
[submodule "home/Library/Application Support/Sublime Text 3"]
	path = home/Library/Application Support/Sublime Text 3
	url = git@github.com:jrolfs/sublime-settings.git
